
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'master_data_Dimension_list' %}">
    Dimension Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="definition">definition: </label>
      <input class="form-control col-sm-10"'
         id="definition" type="text"
         name="definition" value="{{ object.definition }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="type">type: </label>
      <input class="form-control col-sm-10"'
         id="type" type="text"
         name="type" value="{{ object.type }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="name">name: </label>
      <input class="form-control col-sm-10"'
         id="name" type="text"
         name="name" value="{{ object.name }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="parent">parent: </label>
      {{ form.parent }}
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}