
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'master_data_JunkDimension_list' %}">
    JunkDimension Listing
    </a>
</p>
    
<table class="table">
    <tr><td>dimension_value_code</td><td>{{ object.dimension_value_code }}</td></tr>
    <tr><td>valid_from</td><td>{{ object.valid_from }}</td></tr>
    <tr><td>definition</td><td>{{ object.definition }}</td></tr>
    <tr><td>dimension_value</td><td>{{ object.dimension_value }}</td></tr>
    <tr><td>valid_until</td><td>{{ object.valid_until }}</td></tr>
    <tr><td>dimension_value_label</td><td>{{ object.dimension_value_label }}</td></tr>
    <tr><td>dimension_value_utm</td><td>{{ object.dimension_value_utm }}</td></tr>
    <tr><td>dimension</td><td>{{ object.dimension }}</td></tr>
    <tr><td>parent</td><td>{{ object.parent }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}