
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'master_data_Rule_list' %}">
    Rule Listing
    </a>
</p>
    
<table class="table">
    <tr><td>valid_from</td><td>{{ object.valid_from }}</td></tr>
    <tr><td>valid_until</td><td>{{ object.valid_until }}</td></tr>
    <tr><td>name</td><td>{{ object.name }}</td></tr>
    <tr><td>platform</td><td>{{ object.platform }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}