
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'master_data_Structure_list' %}">
    Structure Listing
    </a>
</p>
    
<table class="table">
    <tr><td>delimeter_after_dimension</td><td>{{ object.delimeter_after_dimension }}</td></tr>
    <tr><td>delimeter_before_dimension</td><td>{{ object.delimeter_before_dimension }}</td></tr>
    <tr><td>dimension_order</td><td>{{ object.dimension_order }}</td></tr>
    <tr><td>rule</td><td>{{ object.rule }}</td></tr>
    <tr><td>dimension</td><td>{{ object.dimension }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}